# Node
node_modules/
dist/
npm-debug.log

# Environment
.env

# Docker Volumes (Local)
postgres_data/
minio_data/

# OS
.DS_Store

# IDE
.idea/
.vscode/

# Brain/Memory (if stored locally in project, though usually in user home)
.gemini/
